.container{
  max-width: 1500px;
  margin:  0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 134px;

}
ul{
  list-style: none;
  display: flex;
  width: 815px;
  justify-content: space-between;

}